.container {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background: #3C3E43;
  margin: 5px;
  width: 48%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  width: 60%;
}

.image{
  border-radius: 12px 0 0 12px;
  width: 200px;
  height: auto;
  overflow: hidden;
  object-fit: cover;

}

.name{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #FFFFFF;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.speciesContainer {
  display: flex;
  flex-direction: row;
}

.textTitle{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}
.text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #FFFFFF;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statusText {
  margin-bottom: 15px;
}

.status {
  margin-top: 6px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.statusAlive {
  background-color: green;
}

.statusDead {
  background-color: red;
}

.statusUnknown {
  background-color: grey;
}

@media screen and (max-width: 999px) {
  .container{
    flex-direction: column;
  }
  .image{
    width: auto;
    border-radius: 12px 12px 0 0 ;
  }
  .speciesContainer {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .container{
    width: 100%;
    flex-direction: row;

  }
  .speciesContainer {
    margin-bottom: 0;
  }
  .image{
    width: 230px;
    border-radius: 12px 0 0 12px ;
  }
  .name{
    font-size: 20px;
    margin-bottom: 10px;
    -webkit-line-clamp: 1;
  }

  .textTitle{
    font-size: 12px;
    margin-bottom: 5px;
    -webkit-line-clamp: 1;

  }
  .text{
    font-size: 12px;
    margin-bottom: 5px;
    -webkit-line-clamp: 1;
  }

  .statusText {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 479px) {
  .container{
    width: 90%;
  }
  .image{
    width: 180px;
  }
  .name{
    font-size: 18px;
    margin-bottom: 5px;
  }

  .textTitle{
    font-size: 10px;

  }
  .text{
    font-size: 10px;
  }

  .statusText {
    margin-bottom: 10px;
  }
}